
/* Estilos generales */
* {
    box-sizing: border-box;
}

html, body {
    --amarillo: #FFF4E7;
    --naranja: #FDE0C7;
    --café: #662A1A;
    --azul: #4A799E;
    --magenta: #A93E53;
    --negro: #121A23;

    margin: 0;
    padding: 0;
    background: var(--amarillo);
}

body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    min-width: 320px;
    justify-content: center;
    align-items: center;
}


.conteiner {
    display: flex;
    height: 100vh;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Sección de verificación de edad */
section.edad {
    display: flex;
    position: relative;  
    background-color: var(--amarillo);
    border-radius: 40px;
    border: 14px double rgba(102, 42, 26, 0.80);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    flex-basis: 398px;
    height: 342px;
    transform: scale(1);
    transform-origin:center;
}


/* Animación de imagen */
.edad img {
    padding-bottom: 6%;
    width: 47%;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.54,.21,.37,.78);
}

/* Estilos del texto */
div.texto h3 {
    font-family: "mestiza", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: var(--negro);
    padding-bottom: 3%;  
}

div.texto p {
    position: relative;
    font-size: 13px;
    color: var(--negro);
    font-family: 'AR One Sans';
    width: 240px;
    left: calc(50% - 120px);
}

/* Botones */

.btn:hover {
    background-color: var(--azul);
}

.btn {
    background-color: var(--azul);
    width: 105px;
    height: 39px;
    margin: 5px;
    color: white;
    box-shadow: 0px 4px 4px rgba(26, 70, 102, 0.25);
    transition: background-color 2s ease; /* Ajuste de transición */
    border: none;
    transition-timing-function: cubic-bezier(.54,.21,.37,.78);
}

/* animación */
@keyframes scale {
    0% {
        transform: scale(.95);
    }
    100% {
        transform: scale(1);
    }
}

/* Responsive */

/* Imagen de fondo para desktop */
@media only screen and (min-width: 1040px) {
    body {
        background-image: url("../IMAGENES/Fondo_desktop.png");
    }
    section.edad {
        width: 40vw;
        border-radius: 60px;
        transform: scale(1.5);
    }
}

/* Imagen de fondo para tablets */
@media only screen and (max-width: 1040px) and (min-width: 320px) {
    body {
        background-image: url("../IMAGENES/Fondo_tablet.png");
    }
   
}

/* Estilo de verificaciñon de edad en tablets */
@media only screen and (max-width: 1040px) and (min-width: 700px) {
section.edad {
    width: 40vw;
    border-radius: 50px;
    transform: scale(1.5);
}
}

/* Imagen de fondo para moviles medianos */
@media only screen and (max-width: 411px) and (min-width: 380px) {
    section.edad {
        transform: scale(0.8);
    }
}

/* Imagen de fondo para moviles pequeños */
@media only screen and (max-width: 380px) and (min-width: 320px) {
    section.edad {
        transform: scale(0.65);
    }
}